@font-face {
  font-family: 'GilroyBold';
  src: local('GilroyBold'), url('./fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'GilroyRegular';
  src: local('GilroyRegular'),
    url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'GilroyMedium';
  src: local('GilroyMedium'),
    url('./fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: lighter;
}

html, body {
  margin:0px;
  height:100%;
}